name: Fraud Detection CI/CD Pipeline

on:
  push:
    branches: [ main, master ]
  pull_request:
    branches: [ main, master ]
  workflow_dispatch:

jobs:
  train-model:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
      
    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.12'
        
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install mlflow scikit-learn pandas numpy boto3
        
    - name: Run MLflow project
      run: |
        cd MLProject
        # FIXED URLs - train untuk training, test untuk testing
        mlflow run . \
          --experiment-name "Fraud_Detection_CI" \
          --env-manager local \
          -P train_x=https://github.com/muhammadrisa1/Workflow-CI/releases/download/v1.0.0/creditcard_train_x.csv \
          -P train_y=https://github.com/muhammadrisa1/Workflow-CI/releases/download/v1.0.0/creditcard_train_y.csv \
          -P test_x=https://github.com/muhammadrisa1/Workflow-CI/releases/download/v1.0.0/creditcard_test_x.csv \
          -P test_y=https://github.com/muhammadrisa1/Workflow-CI/releases/download/v1.0.0/creditcard_test_y.csv
          
    - name: Upload MLflow artifacts
      uses: actions/upload-artifact@v4
      with:
        name: mlflow-artifacts
        path: |
          mlruns/
          MLProject/model/
